{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}
	<body class="{{body_class}}" data-template="base.twig">
    <div class="pre-header">
    {% block preHeader %}
    {% endblock %}
    </div>
		<header id="header" class="header" >
			{% block header %}
        {% include 'header.twig' %}
			{% endblock %}
		</header>
    {% block pageHeader %}
      <div class="page-header" style="background-image: url('{{ post.thumbnail.src }}');">
      </div>
    {% endblock %}
    <main class="page-content" id="content" role="main">
      {% block content %}
      <section class="page-content__wrapper" >
        {% if title %}<h1>{{title}}</h1>{% endif %}
        <div>
          {{ page.content }}
        </div>
      </section>
    {% endblock %}
    </main>
		{% block footer %}
			<footer class="footer" id="footer">
				{% include 'footer.twig' %}
			</footer>
			{{ wp_footer }}
		{% endblock %}
	</body>
</html>
