{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}
	<body class="{{body_class}}" data-template="base.twig">
		<header class="header" >
			{% block header %}
        <div class="news-bar">
          <section class="news-bar__wrapper">
            <span>
              <h1 class="news-bar__heading">NIEUWS:</h1>
              <a class="news-bar__article" href="{{ latest_post.link }}">{{ latest_post.title }}</a>
            </span>
            <a class="news-bar__all-news" href="/nieuws">ALLE NIEUWS</a>
          </section>
        </div>
				<div class="sticky-header">
					<h1  role="banner">
						<a  href="{{site.url}}" rel="home">{{site.name}}</a>
					</h1>
					<nav id="nav-main" class="nav-main" role="navigation">
						{% include "menu.twig" with {'menu': menu.get_items} %}
					</nav><!-- #nav -->
				</div>
			{% endblock %}
		</header>

		<section id="content" role="main">
			{% if title %}<h1>{{title}}</h1>{% endif %}
			<div>
				{% block content %}
					Sorry, no content
				{% endblock %}
			</div>
		</section>

		{% block footer %}
			<footer id="footer">
				{% include 'footer.twig' %}
			</footer>
			{{ wp_footer }}
		{% endblock %}
	</body>
</html>
