<a class="header-logo__link" href="{{site.url}}" rel="home">
  <div class="header-logo">
    <img class="header-logo__image" src="{{ theme.link }}/static/logo.png" alt="{{ site.name }}'s logo">
    <div class="header-logo__text">
      <span  href="{{site.url}}" rel="home" class="header-logo__name">{{ site.name | upper }}</span>
      <span  href="{{site.url}}" rel="home" class="header-logo__description">{{ site.description }}</span>
    </div>
  </div>
</a>