{% import 'snippets.twig' as snippets %}

{% extends 'base.twig' %}

{% block preHeader %}
  {% if post.ph_show %}
    <div class="pre-header" style="background-image: url('{{ TimberImage(post.get_field('ph_img')).src }}');">
      <div class="pre-header__wrapper">
        <h1 class="pre-header__title">happie is open</h1>
        <h2 class="pre-header__subtitle">Van 8 mei t/m 3 juni, elke dinsdag t/m zaterdag</h2>
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block content %}
  <section class="content-section"> {# Content with side image #}
    <div class="content-section__wrapper">
      <div class="content-section__image content-section__image--left" style="background-image: url('{{ TimberImage(post.get_field('happie_img')).src }}')">
      </div>
      <div class="content-section__body content-section__body">
        <h1>{{ post.happie_title }}</h1>
        {{ post.get_field('happie_body') }}
        <a href="{{ post.get_field('happie_cta_url') }}" class="button">{{ post.happie_cta }}</a>
      </div>
    </div>
  </section>
  <section class="content-section content-section--dark" > {# Content with side image #}
    <div class="content-section__wrapper">
      <div class="content-section__image content-section__image" style="background-image: url('{{ TimberImage(post.get_field('help_img')).src }}')">
      </div>
      <div class="content-section__body content-section__body--left">
        <h1>{{ post.help_title }}</h1>
        {% if post.help_1_show %}
          {{ snippets.article_cta(post.help_1_title, post.help_1_body, post.help_1_cta, post.get_field('help_1_url')) }}
        {% endif %}
        {% if post.help_2_show %}
          {{ snippets.article_cta(post.help_2_title, post.help_2_body, post.help_2_cta, post.get_field('help_2_url')) }}
        {% endif %}
        {% if post.help_3_show %}
          {{ snippets.article_cta(post.help_3_title, post.help_3_body, post.help_3_cta, post.get_field('help_3_url')) }}
        {% endif %}
      </div>
    </div>
  </section>


{% endblock %}